


.luxivo-iconic-box{
    &.style-one{
        border-radius: 30px;
        padding: 40px 30px 35px;
        background-color: $gray-color;
        text-align: center;
        & .icon{
            margin-bottom: 20px;
        }
        & .content{
            & .line{
                position: relative;
                background-color: $primary-color;
                width: 1px;
                height: 50px;
                margin-bottom: 10px;
                &:after{
                    position: absolute;
                    bottom: 0;
                    left: -2px;
                    content: '';
                    width: 5px;
                    height: 5px;
                    background-color: $primary-color;
                    transform: rotate(45deg);
                }
            }
        }
    }
    &.style-two{
        & .icon{
            margin-bottom: 25px;
        }
        & .content{
            & .title{
                font-size: $h4-font;
                margin-bottom: 10px;
            }
        }
    }
}

.luxivo-iconic-left-box{
    &.style-one{
        display: flex;
        align-items: center;
        & .icon{
            flex: 0 0 45;
            margin-right: 15px;
        }
        & .content{
            & h5{
                font-size: $h5-font;
            }
        }
    }
    &.style-two{
        display: flex;
        align-items: center;
        & .icon{
            flex: 0 0 auto;
            margin-right: 20px;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $primary-color;
        }
    }
    &.style-three{
        display: flex;
        align-items: center;
        border-radius: 20px;
        border: 1px solid $border-color;
        background-color: #FEF9F4;
        padding: 20px;
        & .icon{
            width: 60px;
            height: 60px;
            background-color: $white-color;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 auto;
            border-radius: 20px;
            padding: 10px;
            margin-right: 16px;
        }
        & .content{
            & h4{
                font-size: $h4-font;
            }
        }
    }
    &.style-four{
        display: flex;
        align-items: center;
        & .icon{
            margin-right:15px;
            flex: 0 0 auto;
            width: 45px;
        }
        & .content{
            & h5{
                font-size: $h5-font;
                display: inline-flex;
                align-items: center;
                line-height: 28px;
                & img{
                    flex: 0 0 40px;
                    margin-right: 15px;
                }
            }
        }
    }
    &.style-five{
        display: flex;
        &:hover{
            & .icon{
                background-color: $primary-color;
                border-color: transparent;
                & img{
                    filter: brightness(0) invert(1);
                }
            }
        }
        & .icon{
            position: relative;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 auto;
            margin-right: 15px;
            border: 1px solid $border-color;
            background-color: transparent;
            transition: all .3s;
            & img{
                transition: filter 0.3s ease;
            }
        }
        & .content{
            & h4{
                font-size: $h4-font;
                margin-bottom: 10px;
            }
        }
    }
    &.style-six{
        display: flex;
        align-items: center;
        & .icon{
            flex: 0 0 auto;
            margin-right: 16px;
            width: 60px;
            height: 60px;
            border-radius: 20px;
            border: 1px solid $border-color;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
