

/*======================
    Faq Section  CSS
=======================*/

.luxivo-faq_two{
    & .luxivo-image{
        position: relative;
        margin-right: -55px;
        & img{
            width: 100%;
        }
        @include respond(xxxl){
            margin-right: 0;
        }
        & .luxivo-contact-info-box{
            position: absolute;
            bottom: 30px;
            right: 30px;
            background-color: $primary-black-color;
            border-radius: 30px;
            padding: 35px 40px;
            max-width: 300px;
            & .content{
                & h4{
                    font-size: $h4-font;
                    color: $white-color;
                    &:after{
                        display: block;
                        content: '';
                        width: 75px;
                        height: 1px;
                        background-color: $primary-color;
                        margin-top: 10px;
                        margin-bottom: 20px;
                    }
                }
                & .check-list{
                    &.style-one{
                        & li{
                            color: $white-color;
                            &:not(:last-child){
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
        & img{
            border-radius: 30px;
        }
    }
    & .luxivo-content-box{
        padding-left: 80px;
        @include respond(xxxl){
            padding-left: 0;
        }
    }
}

.luxivo-faq-sec {
    & .luxivo-content-box{
        & h2{
            @include respond(md){
                font-size: 28px;
            }
        }
    }
}

.accordion-card{
    border-bottom: 1px solid $border-color;
    & .accordion-header{
        & .accordion-title{
            display: flex;
            align-items: center;
            padding-bottom: 20px;
            font-weight: 400;
            cursor: pointer;
        }
    }
    & .accordion-content{
        padding-bottom: 20px;
    }
    &.style-two{
        border: 1px solid $border-color;
        padding: 20px 30px;
        border-radius: 20px;
        & .accordion-header{
            & .accordion-title{
                padding-bottom: 0;
                &:after{
                    flex: 0 0 auto;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    content: '\f107';
                    font-family: 'Font Awesome 5 Pro';
                    font-weight: 400;
                    font-size: 18px;
                    color: $primary-color;
                    margin-left: auto;
                    transition: all .3s;
                }
            }
            & .accordion-title[aria-expanded=true]{
                padding-bottom: 20px;
                border-bottom: 1px solid $border-color;
                margin-bottom: 20px;
                &:after{
                    transform: rotate(-180deg);
                }
            }
        }
        & .accordion-content{
            padding-bottom: 0;
        }
    }
}
