
/*======================
    Features Section  CSS
=======================*/

.luxivo-features_one{
    position: relative;
    z-index: 1;
    &:after{
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(22, 25, 33, 0.60);
        z-index: -1;
    }
    & .container-fluid{
        padding-left: 120px;
        padding-right: 120px;
        @include respond(xxxl){
            padding-left: 50px;
            padding-right: 50px;
        }
        @include respond(xl){
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}
.features-slider{
    margin-left: -15px;
    margin-right: -15px;
    & .slick-slide{
        margin-left: 15px;
        margin-right: 15px;
    }
}
.luxivo-feature-item{
    &.style-one{
        padding: 40px;
        border-radius: 30px;
        background-color: $primary-black-color;
        transition: all .3s;
        & .icon{
            position: relative;
            margin-bottom: 55px;
            & .hover-icon{
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
            }
        }
        & .content{
            & h4{
                color: $white-color;
                &:after{
                    display: block;
                    content: '';
                    width: 150px;
                    height: 1px;
                    background-color: $primary-color;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }
            }
            & p{
                color: $white-color;
                margin-bottom: 35px;
            }
            & .theme-btn{
                &.style-two{
                    color: $white-color;
                }
            }
        }
        &:hover{
            background-color: $primary-color;
            & .icon{
                & .main-icon{
                    opacity: 0;
                }
                & .hover-icon{
                    opacity: 1;
                }
            }
            & .content{
                & h4{
                    &:after{
                        background-color: $white-color;
                    }
                }
                & .theme-btn{
                    &.style-two{
                        background-color: $white-color;
                        color: $heading-color;
                    }
                }
            }
        }
    }
    &.style-two{
        text-align: center;
        & .icon{
            margin-bottom: 25px;
        }
        & .content{
            & h4{
                margin-bottom: 15px;
            }
        }
    }
}


.luxivo-choose_two{
    position: relative;
    z-index: 1;
    &:after{
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 60%;
        height: 100%;
        border-radius: 30px;
        background-color: $gray-color;
        z-index: -1;
        transform: perspective(1000px) rotateY(3deg) rotateX(1deg);
    }
    & .luxivo-image{
        & img{
            border-radius: 30px;
        }
    }
}