
/*======================
    Hero Section  CSS
=======================*/

.luxivo-avatar-box{
    & h6{
        margin-bottom: 10px;
    }
    & .avatar-text-box{
        display: flex;
        align-items: center;
        & ul{
            & li{
                display: inline-block;
                &:not(:first-child){
                    margin-left: -16px;
                }
                & img{
                    flex: 0 0 auto;
                    width: 50px;
                    height: 50px;
                    border: 2px solid $border-color;
                    border-radius: 50%;
                }
                & span{
                    background-color: $primary-color;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $white-color;
                }
            }
        }
        & .text{
            max-width: 200px;
            padding-left: 16px;
            border-left: 2px solid $primary-black-color;
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            margin-left: 20px;
            text-transform: capitalize;
        }
    }
}


.luxivo-hero_one{
    padding: 250px 0 330px;
    background-color: $primary-black-color;
    & .hero-image{
        position: absolute;
        z-index: -1;
        &.hero-image_one{
            bottom: 120px;
            left: 120px;
        }
        &.hero-image_two{
            top: 120px;
            right: 120px;
        }
    }
    .luxivo-avatar-box{
        position: absolute;
        bottom: 80px;
        right: 20%;
        & h6{
            color: $white-color;
            font-family: $body-font;
        }
        & .text{
            border-color: $white-color;
            color: $white-color;
        }
    }
    & .hero-content{
        & h1{
            color: $white-color;
            font-size: 120px;
            line-height: 1.08em;
        }
    }
    & .text-box{
        & p{
            margin-bottom: 40px;
            font-size: 18px;
            line-height: 34px;
            color: $white-color;
        }
    }
}



/* Hero Two */ 

.hero-wrapper-two{
    position: relative;
    z-index: 1;
    padding-top: 200px;
    &:before{
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 50%;
        background-color: $primary-black-color;
        z-index: -1;
    }
    &:after{
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 50%;
        background-color: $gray-color;
        z-index: -1;
    }
    & .single-slider{
        padding: 220px 0 230px;
        position: relative;
        z-index: 1;
        border-radius: 50px;
        overflow: hidden;
    }
    & .image-layer{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 1.4s cubic-bezier(0.7, 0, 0.3, 1);
        @include transform(scale(1.2));
        z-index: -1;
        &:after{
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, #000 -12.38%, rgba(0, 0, 0, 0.00) 117.3%);
            z-index: -1;
        }
    }
    &.slick-current{
        & .image-layer{
            @include transform(scale(1));
        }
    }
    & .container-fluid{
        padding-left: 120px;
        padding-right: 120px;
    }
    & .hero-content{
        @include respond(lg){
            text-align: center;
        }
        & span{
            color: $white-color;
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            margin-bottom: 20px;
        }
        & h1{
            font-weight: 400;
            color: $white-color;
            margin-bottom: 20px;
            font-size: 84px;
            & span{
                font-weight: 700;
            }
            @include respond(xxxl){
                font-size: 70px;
            }
            @include respond(md){
                font-size: 36px;
                line-height: 1.5em;
            }
        }
        & p{
            max-width: 610px;
            color: $white-color;
            margin-bottom: 40px;
        }
    }
}


/* Page Hero */

.page-hero{
    padding: 180px 0 90px;
    position: relative;
    z-index: 1;
    &:after{
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(22, 25, 33, 0.70);
        z-index: -1;
    }
    & .page-content{
        & h1{
            color: $white-color;
            margin-bottom: 15px;
        }
        & h6{
            text-transform: uppercase;
            color: $white-color;
            letter-spacing: 0.8px;
            margin-bottom: 20px;
            &:before{
                display: inline-block;
                content: '';
                width: 15px;
                height: 2px;
                background-color: $white-color;
                vertical-align: middle;
                margin-right: 10px;
            }
        }
        & ul{
            & li{
                display: inline-block;
                color: $white-color;
                font-size: 20px;
                line-height: 28px;
                &:not(:last-child){
                    &:after{
                        display: inline-block;
                        content: '/';
                        margin-left: 5px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}