
/*======================
    Room Section  CSS
=======================*/
.luxivo-room-wrapper{
    & .luxivo-room-item{
        &.style-three{
            &:nth-child(even){
                & .row{
                    flex-direction: row-reverse;
                }
            }
            & .room-content{
                padding-left: 0;
            }
            & .room-image{
                padding-right: 30px;
            }
        }
    }
}
.room-slider{
    margin-left: -15px;
    margin-right: -15px;
    & .slick-slide{
        margin-left: 15px;
        margin-right: 15px;
    }
}
.luxivo-iconic-left-box{
    display: flex;
    align-items: center;
    & .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $border-color;
        width: 60px;
        height: 60px;
        border-radius: 20px;
        margin-right: 15px;
        flex: 0 0 auto;
    }
}
.luxivo-room-item{
    &.style-two{
        & .room-image{
            & img{
                border-radius: 30px;
            }
        }
        & .room-content{
            position: relative;
            border-radius: 30px;
            background-color: $white-color;
            padding: 30px 25px;
            margin-top: -55px;
            & .price-rating-wrap{
                padding-bottom: 25px;
                border-bottom: 1px solid $border-color;
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                & .ratings{
                    & i{
                        color: #FF9500;
                        font-size: 14px;
                    }
                }
                & .price{
                    font-size: 24px;
                    color: $heading-color;
                    font-family: $heading-font;
                    & span{
                        font-size: 16px;
                        color: $text-color;
                        font-family: $body-font;
                    }
                }
            }
            & .title{
                margin-bottom: 20px;
            }
            & .check-list{
                margin-bottom: 20px;
                & li{
                    font-size: 14px;
                    margin-bottom: 15px;
                }
            }
            & p{
                margin-bottom: 25px;
            }
        }
    }
    &.style-three{
        & .room-image{
            display: flex;
            align-items: flex-start;
            gap: 30px;
            & img{
                border-radius: 30px;
            }
        }
        & .room-content{
            padding-left: 25px;
            & .sub-title{
                margin-bottom: 15px;
            }
            & .title{
                margin-bottom: 20px;
            }
            & p{
                margin-bottom: 25px;
            }
            & .price{
                font-family: $heading-font;
                color: $heading-color;
                font-size: 36px;
                margin-bottom: 30px;
                & span{
                    font-size: 16px;
                    color: $text-color;
                    font-family: $body-font;
                }
            }
        }
    }
    &.style-four{
        &:hover{
            & .room-image{
                & .hover-content-wrap{
                    & .content{
                        bottom: -100%;
                    }
                    & .hover-content{
                        bottom: 20px;
                    }
                }
            }
        }
        & .room-image{
            position: relative;
            overflow: hidden;
            & img{
                width: 100%;
                border-radius: 30px;
            }
            & .hover-content-wrap{
                position: absolute;
                top: 0;
                left: 0;
                padding: 20px;
                width: 100%;
                height: 100%;
                & .content{
                    position: absolute;
                    bottom: 20px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;
                    width: 90%;
                    border-radius: 20px;
                    background-color: rgba(109, 124, 106, 0.60);
                    backdrop-filter: blur(9px);
                    padding: 20px;
                    transition: all .3s;
                    & h4{
                        margin-bottom: 15px;
                        color: $white-color;
                    }
                    & .theme-btn{
                        &.style-two{
                            color: $white-color;
                        }
                    }
                }
            }
            & .hover-content{
                position: absolute;
                bottom: -100%;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                width: 90%;
                border-radius: 20px;
                background-color: rgba(109, 124, 106, 0.60);
                backdrop-filter: blur(9px);
                padding: 20px;
                transition: all .5s;
                & .ratings{
                    margin-bottom: 10px;
                    & i{
                        color: #FF9500;
                    }
                }
                & h4{
                    margin-bottom: 20px;
                    color: $white-color;
                }
                & .price{
                    color: $white-color;
                    font-size: 36px;
                    font-weight: 400;
                    font-family: $heading-font;
                    margin-bottom: 5px;
                    & span{
                        font-family: $body-font;
                        font-size: 16px;
                    }
                }
                & .room-meta{
                    padding: 10px 0;
                    border-top: 1px solid $border-color;
                    border-bottom: 1px solid $border-color;
                    margin-bottom: 30px;
                    & span{
                        color: $white-color;
                        & i{
                            margin-right: 10px;
                        }
                        &:not(:last-child){
                            margin-right: 20px;
                        }
                    }
                }
                & .theme-btn{
                    &.style-two{
                        color: $white-color;
                    }
                }
            }
        }
    }
}

.luxivo-room-sec{
    & .container-fluid{
        padding-left: 150px;
        padding-right: 150px;
        @include respond(xxxl){
            padding-left: 50px;
            padding-right: 50px;
        }
        @include respond(xl){
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}
