
/*======================
    Service Section  CSS
=======================*/
.luxivo-features-sec{
    & .container-fluid{
        padding-left: 150px;
        padding-right: 150px;
    }
}
.luxivo-feature-iconic-box{
    border-radius: 30px;
    padding: 40px 30px 35px;
    background-color: $gray-color;
    text-align: center;
    & .icon{
        margin-bottom: 20px;
    }
    & .content{
        & .line{
            position: relative;
            background-color: $primary-color;
            width: 1px;
            height: 50px;
            margin-bottom: 10px;
            &:after{
                position: absolute;
                bottom: 0;
                left: -2px;
                content: '';
                width: 5px;
                height: 5px;
                background-color: $primary-color;
                transform: rotate(45deg);
            }
        }
    }
}
.service-card-wrapper{
    & .luxivo-service-card{
        &:nth-child(even){
            flex-direction: row-reverse;
            & .row{
                flex-direction: row-reverse;
            }
            & .service-thumbnail{
                margin-left: 0;
                margin-right: 80px;
            }
        }
    }
}
.luxivo-service-card{
    & .service-thumbnail{
        flex: 0 0 auto;
        max-width: 475px;
        margin-left: 80px;
        & img{
            border-radius: 30px;
        }
    }
    & .service-content{
        position: relative;
        & .sn-number{
            position: absolute;
            top: 0;
            right: 0;
            font-size: 120px;
            line-height: 84px;
            color: #D8DDE1;
            font-family: $heading-font;
        }
        & .sub-title{
            margin-bottom: 15px;
            &:after{
                display: inline-block;
                content: '';
                width: 80px;
                height: 1px;
                background-color: $primary-color;
                margin-left: 12px;
            }
        }
        & .title{
            margin-bottom: 37px;
            font-size: 48px;
        }
        & .line{
            margin-left: 65px;
            background-color: $primary-color;
            width: 1px;
            height: 50px;
            margin-bottom: 22px;
        }
        & p{
            max-width: 565px;
            margin-bottom: 52px;
        }
        & .icon-btn{
            width: 50px;
            height: 50px;
            border: 1px solid $border-color;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
            &:hover{
                background-color: $primary-color;
                color: $white-color;
                border-color: transparent;
            }
        }
    }
}

.service-details-wrapper{
    & .luxivo-service-item{
        & .service-thumbnail{
            margin-bottom: 55px;
            & img{
                border-radius: 30px;
            }
        }
        & .service-content{
            & p{
                margin-bottom: 30px;
            }
            & figure{
                margin-bottom: 35px;
                & img{
                    border-radius: 20px;
                }
            }
        }
    }
    & h3{
        margin-bottom: 35px;
    }
}

.luxivo-offer-sec{
    & .text-box{
        & h3{
            text-transform: capitalize;
        }
        & .line{
            position: relative;
            display: block;
            max-width: 600px;
            border-top: 1px solid $border-color;
            margin: 0 auto;
            margin-top: 28px;
            padding-bottom: 20px;
            &:after{
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                content: '';
                max-width: 540px;
                width: 100%;
                height: 1px;
                margin: 0 auto;
                background-color: $border-color;
            }
        }
    }
}
.luxivo-offer-wrapper{
    & .luxivo-offer-item{
        &.style-one{
            &:nth-child(even){
                & .row{
                    flex-direction: row-reverse;
                }
                & .thumbnail{
                    margin-left: 0;
                    margin-right: 30px;
                }
            }
        }
    }
}
.luxivo-offer-item{
    &.style-one{
        & .content{
            position: relative;
            padding: 55px 60px 60px;
            border-radius: 30px;
            background-color: $primary-black-color;
            & .shape{
                position: absolute;
                bottom: 20px;
                right: 20px;
            }
            & .title{
                font-size: 24px;
                color: $white-color;
                text-transform: capitalize;
                &:after{
                    display: block;
                    content: '';
                    width: 150px;
                    height: 1px;
                    background-color: $primary-color;
                    margin-bottom: 10px;
                    margin-top: 20px;
                }
            }
            & .ratings{
                margin-bottom: 15px;
                & i{
                    color: #FF9500;
                }
                & span{
                    margin-left: 10px;
                    color: $white-color;
                }
            }
            & p{
                color: $white-color;
                margin-bottom: 15px;
            }
            & .price{
                color: $white-color;
                font-family: $heading-font;
                font-size: 24px;
                margin-bottom: 20px;
                & span{
                    font-family: $body-font;
                    font-size: 14px;
                    color: #D8D8DC;
                    margin-left: 15px;
                }
            }
            & .theme-btn{
                &.style-two{
                    color: $white-color;
                    &:hover{
                        background-color: $white-color;
                        color: $heading-color;
                    }
                }
            }
        }
        & .thumbnail{
            margin-left: 30px;
            & img{
                border-radius: 30px;
                width: 100%;
            }
        }
    }
    &.style-two{
        display: flex;
        align-items: center;
        border:1px solid $border-color;
        border-radius: 30px;
        padding: 40px;
        & .thumbnail{
            max-width: 560px;
            flex: 0 0 auto;
            margin-right: 40px;
            & img{
                border-radius: 20px;
            }
        }
        & .content{
            & .title{
                text-transform: capitalize;
                &:after{
                    display: block;
                    content: "";
                    width: 85px;
                    height: 1px;
                    background-color: $primary-color;
                    margin-top: 18px;
                    margin-bottom: 14px;
                }
            }
            & .ratings{
                margin-bottom: 25px;
                & i{
                    color: #FF9500;
                }
                & span{
                    margin-left: 10px;
                }
            }
            & p{
                margin-bottom: 25px;
                padding-bottom: 25px;
                border-bottom: 1px solid $border-color;
            }
            & .offer-footer{
                display: flex;
                align-items: center;
                justify-content: space-between;
                & .price{
                    color: $heading-color;
                    font-family: $heading-font;
                    font-size: 24px;
                    & span{
                        font-family: $body-font;
                        font-size: 14px;
                        color: $text-color;
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}


.luxivo-offer-details-sec{
    & .offer-content{
        & .content{
            border-bottom: 1px solid $border-color;
            padding-bottom: 35px;
            & .title{
                margin-bottom: 30px;
            }
            & p{
                margin-bottom: 25px;
            }
            & span{
                display: block;
                color: $heading-color;
                font-weight: 500;
            }
        }
        & .content-box{
            &:not(:last-child){
                border-bottom: 1px solid $border-color;
                padding-bottom: 35px;
            }
            & h3{
                margin-bottom: 30px;
            }
        }
    }
    & .offer-widget-box{
        background-color: $gray-color;
        padding: 30px 40px 40px;
        border-radius: 30px;
        color: $heading-color;
        & h3{
            font-size: 30px;
            &:after{
                display: block;
                margin-top: 15px;
                content: '';
                margin-bottom: 25px;
                background-color: $primary-color;
                width: 90px;
                height: 1px;
            }
        }
        & .info-box{
            margin-bottom: 75px;
        }
    }
}