
// Font Family

$heading-font: var(--heading-font);

$body-font: var(--body-font);

$accent-font: var(--accent-font);


// Font Size

$h1-font: 80px;

$h2-font: 48px;

$h3-font: 36px;

$h4-font: 24px;

$h5-font: 18px;

$h6-font: 16px;